@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    background-color: hsl(259, 100%, 65%);
    background-image: url(./assets/images/icon-arrow.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    left: 45%;
    top: -25px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

input {
    width: 100%;
    height: 50%;
    padding: 5%;
    outline: none;
    font-size: .6rem;
    border-color: black;
    border: 1px solid;
    border-radius: 10px;
}





label {
    font-size: .5rem;
}

.container {
    position: relative;
    width: 90%;
    height: 60%;
    background-color: white;
    box-shadow: 10px 10px 16px -2px rgba(15,14,14,0.75);
    padding: 5%;
    border-radius: 5% 5% 35% 5%;    
}

.hr {
    position: relative;
}

.field {
    color: hsl(0, 1%, 44%);
    display: flex;
    justify-content: space-between;
    margin: 5%;
    height: 30%;
    width: 90%;
}

.fields {
    height: 75%;
    width: 30%;
}

.msg {
    padding-left: 10%;
}

.msg p{
    color: red;
    font-weight: 100;
    font-size: .3rem;
}



.out {
    height: 60%;
    width: 90%;
    padding: 1%;
    padding-top: 10%;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 800;
    font-style: italic;
    color: black;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


.outs {
    color: hsl(259, 100%, 65%);
    font-size: 1.2rem;
}



.error {
    border: 1px solid red;
}

.success {
    border: 1px solid green;
}


@media(min-width:376px){

    .container {
        width: 50%;
        aspect-ratio: 1/1;
        padding: 2%;
    }

    .out {
        padding-top: 0%;
        padding-left: 5%;
    }

    .out p{
        font-size: 1.8rem;
    }

    .msg p {
        font-size: .8rem;
    }

    .outs {
        font-size: 1.8rem;
    }

    .fields label {
        font-size: .8rem;
        font-weight: 700;
    }

    .fields input {
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 5%;
    }

    button {
        left: 80%;
        top: -45px;
        height: 90px;
    }


}


